.main__about {
    margin: 2rem auto 0 auto;
    padding: 0.5rem 0 0 0;
    width: 100%;
}

.main__backgroundAbout {
    background-color: hsl(331 84% 35%/ 5%);
    margin: 0;
}

.bg-about {
    background-image: url("../assets/images/about.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    position:inherit;
    box-sizing: content-box;
}

.parcours {
    text-align: left;
    padding: 1.5rem;
}

.portrait {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 3rem auto 3rem auto;
    padding: 1rem;
    border: 1px solid hsl(331 84% 35%);
    border-radius: 10px 10px;
}

@media (max-width: 830px) {
    .portrait {
        flex-direction: column;
        text-align: center;
    }
}

.portrait__img {
    max-width: 25%;
    min-width: 15rem;
    border-radius: 5px;
    margin: 1rem;
}

.portrait__text {
   font-size: clamp(1.5rem, 3vw, 1.8rem);
   line-height: 2rem;

}

.cv {
    line-height: 1.5rem;
    margin: 2rem 1rem 16rem 1rem;
    background: linear-gradient( hsl(331 84% 35% / 1%), hsl(331 84% 35% / 25%));
    padding-top: 2rem;
}

.cv__titre {
    margin-bottom: 1.5rem;
}


ul.list {
    list-style: square inside;
}

.cv__listItemDescription {
    padding-left: 2rem;
}

.clickableLogoAbout {
    margin-top: -20rem;
}

.socialNetworksandContact__about {
    text-align: center;
    max-width: 100%;
}