.cv {
    text-align: left;
    line-height: 1.5rem;
    margin: 5rem;
}

.cv__titre {
    margin-bottom: 1.5rem;
}

ul.list {
    list-style: square inside;
}

.clickableLogoAbout {
    margin-bottom: 25rem;
}