.navFrame__logo {
    width: 60rem;
    max-width: 95vw;
    position: relative;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    margin: 0;
}

@media (min-width: 650px) {
    .clickableLogoHome > .navFrame__logo {
        max-width: 60vw;
    }
}

@media (min-width: 550px) {
    .clickableLogoHome > .navFrame__logo {
        top: 5rem;
    }
}

@media (min-width: 800px) {
    .clickableLogoHome > .navFrame__logo {
        top: 10rem;
    }
}

@media (min-width: 1100px) {
    .clickableLogoHome > .navFrame__logo {
        max-width: 45vw;
    }
}


@media (min-width: 1400px) {
    .clickableLogoHome > .navFrame__logo {
        top: 12rem;
        max-width: 35vw;
    }
}

.clickableRect:hover {
    cursor: pointer;
}

.rect__mini:hover {
    filter: drop-shadow(15px 15px 15px hsl(180 24.6% 50.6%)) brightness(115%);
}

.rect__school:hover {
    filter: drop-shadow(15px 15px 15px hsl(48.08 73.6% 58.4%)) brightness(115%);
}

.rect__slow:hover {
    filter: drop-shadow(15px 15px 15px hsl(266.9 22.8% 49.8%)) brightness(115%);
}

.rect__danse:hover {
    filter: drop-shadow(15px 15px 15px hsl(79.62 24.1% 57.6%)) brightness(115%);
}

.rect__event:hover {
    filter: drop-shadow(15px 15px 15px hsl(313.33 30.3% 65.1%)) brightness(115%);
}

.rect__animat:hover {
    filter: drop-shadow( 15px 15px 15px hsl(40.53 91.8% 52%)) brightness(115%);
}


