dialog:not([open]) {
    display: none;
    z-index: 0;
}

dialog {
    width: 90%;
    height: 90%;
    background-color: hsl(0 0% 82.7 / 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    box-sizing: content-box;
    border: 1px solid hsl(0 2.4% 75.1%);
    padding-top: 2rem;
}

.modalContact {
    background-color: hsl(0 0% 82.7 / 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px;
    margin-top: 2rem;
    padding: 2rem;
}

@media(max-width: 380px){
    .modalContact {
        margin-top: 14rem;
    }
}

.contactForm {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px 10px;
    border: 5px dotted black;
}

.contactForm__Title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto 2rem auto
}

.contactForm__status {
    margin: 2rem;
}

.contactForm__fields {
    width: 80%;
    min-width:10rem;
    max-width: 60rem;
}

.contactForm__field {
    margin: 0.1rem;
    width: 100%;
}

textarea {
    height: 10rem;
}
.contactForm__info {
    font-size: 0.8rem;
    font-weight: lighter;    
}
