.displayEVent {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.heroEvent {
    width: 90%;
    background-color:white;
    box-shadow: lightgray 10px 10px 20px;
    margin: 2rem auto 2rem auto;
}

.heroEvent__title {
    color: black;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 2rem;
    max-width: 100%;
}

.heroEvent__img {
    height: 90%;
    width: 100%;
}

    .heroEvent__img:hover {
        filter: brightness(115%);
    }

.descriptionEvent {
    max-width: 90%;
    padding: 5rem;
    border: 1rem double hsl(30 50% 65%);
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 5px 5px;
    margin-bottom: 2rem;
}

.descriptionEvent__publicEvent {
    background-image: url("../assets/images/spectacle.png");
    background-size: cover;
    background-position: bottom;
}

.descriptionEvent__wedding {
    background-image: url("../assets/images/fondMariage.svg");
    background-size: cover;
    background-position:top;
    position: relative;
}

.descriptionEvent__birthday {
    background-image: url("../assets/images/fondanniversaire2.png");
    background-size: cover;
    background-position: top left;
}

.descriptionEvent__text {
}

.textPublicEvent {
    padding: 3rem 2rem 2rem 2rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 10px lightgray;
}

.textWedding {
    padding: 0 2rem  0 2rem ; 
}

.iconeMariés {
    max-width: 50%;
}

.textBirthday {
    background-color: hsl(0 0% 100% / 85%);
    padding-top: 5rem;
    text-align: left;
    padding: 2.5rem;
}

.textBirthday__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.textBirthday__subtitle {
    font-size: 1.3rem;    
}

.textBirthday__list {
    margin: 1rem auto 2rem auto;   
}

.textBirthday__listItem {
    list-style: square;
}

.contactEVents {
    margin: 2rem;
}

.contactBirthday {
    text-align: center;
}

.btnEvent {
    margin-top: 2rem;
}
