.main__home {
    align-self: center;
    display:flex;
    flex-direction: column;
}

h1 {
    color: hsl(331 84% 35%);
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

.presentation {
    margin: 2rem 0 8rem 0 ;
    font-size: 1.2em;
    min-width: 100%;
    z-index: 3;
}

.presentation__text2 {
    align-self: start;
    text-align: left;
    font-size: 1.2em;
    margin: 5rem 2rem 5rem 2rem;
}

.socialNetworksandContact {
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 1.2rem;
}

    .socialNetworksandContact:hover {
        box-shadow: 5px 5px 30px lightgray;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

