html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header {
    width: 100vw;
    background-color: lightblue;
}

.logo {
   width: 100vw;
   height: 20vh;
   margin:1rem 0 1rem 0;
   display: relative;
   padding-left: 0;
}

.logo__text {
    height: 20%;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(75%, 0%);
    align-content :center;
}

.logo__title {
    align-self:flex-start;
    font-size: 3rem;
    display: block;
    padding-bottom: 0.3em;
}

.logo__draw {
    width: 100vw;
    z-index: 2;
}

.logo__subtitle {
    align-self: baseline;
    font-size: 2rem;
    font-size: 1.5rem;
}

.pointer {
    cursor: pointer;
}


